
/** ADD YOUR AWESOME CODES HERE **/

/**Zeki kara**/
#inputMuze,#inputBalık,#inputDeniz,#inputYemek,#inputOtel,#inputDoga{
  width: 150px;

}


/** Zeki Chatbot**/
body {
  font: 15px arial, sans-serif;
  background-color: #d9d9d9;
  padding-top: 15px;
  padding-bottom: 15px;
}

#bodybox {
  margin: auto;
  max-width: 550px;
  font: 15px arial, sans-serif;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-right: 25px;
  padding-left: 25px;
  box-shadow: 5px 5px 5px grey;
  border-radius: 15px;
}

#chatborder {
  border-style: solid;
  background-color: #f6f9f6;
  border-width: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 15px;
  border-radius: 15px;
}

.chatlog {
   font: 15px arial, sans-serif;
}

#chatbox {
  font: 17px arial, sans-serif;
  height: 30px;
  width: 100%;
  border-radius: 5px;
}

h1 {
  margin: auto;
}

pre {
  background-color: #f0f0f0;
  margin-left: 20px;
}


#cardfotosec{
    padding-left: 20px;
    padding-top: 25px;
}

.spinner-grow{
	background-color: red;
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background:blue;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }
  
/**********/

#mlPhotos{
    border-style:double;
    border-width: 3px;
    width: 84%;
    margin-bottom: 5px; 
    
}
#cardUtanan{
    padding: 13px 13px  13px  13px ;

}
#cardgulen{
    padding: 13px 13px  13px  13px ;
}


#selectPhoto{
    border-style: double;
    border-width: 2px;

    width: 85px;
    height: 80px;
}
#dragphoto{
    border-style: double;
    width: 70px;
    height: 60px;
}
#createProject{
    margin-bottom: 15px;
    
}




/*Drop and Drag*/
#div1, #div2 {
    float: left;
    width: 100px;
    height: 35px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
  }



#drop-region {
	background-color: #fff;
	border-radius:20px;
	box-shadow:0 0 35px rgba(0,0,0,0.05);
	width:400px;
	padding:60px 40px;
	text-align: center;
	cursor:pointer;
	transition:.3s;
}
#drop-region:hover {
	box-shadow:0 0 45px rgba(0,0,0,0.1);
}

#image-preview {
	margin-top:20px;
}
#image-preview .image-view {
    display: inline-block;
	position:relative;
	margin-right: 13px;
	margin-bottom: 13px;
}
#image-preview .image-view img {
    max-width: 100px;
    max-height: 100px;
}
#image-preview .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 2;
    background: rgba(255,255,255,0.5);
}